* {
    box-sizing: border-box;
}

body {
    background-color:crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

main {
    background-color:white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color: gainsboro;
    border-radius:0.25rem;
    padding: 2rem 1rem;
    margin-bottom:2rem;
}

header img {
    float: right;
    max-width: 200px;
}

#contact-button {
    border: none;
    background-color: darkgreen;
    border-color: darkgreen;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}